<div class="post_wrapper">
	<div id="profile_image">
		<%= image_tag "lg.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Nick</h1>
		<p>I'm building this blog.  It's a great thing to be able to build this.  I think it's super cool.  </p>
		<p>Also, I like guacamole.</p>
	</div>
</div>